# Puerto en el que el servidor escuchará
PORT=3001

# URL de conexión a la base de datos PostgreSQL
# Formato: postgres://usuario:contraseña@host:puerto/nombre_base_datos
DATABASE_URL=postgres://postgres:1411@localhost:5432/postgresql

# Clave secreta para firmar tokens JWT
JWT_SECRET=yosecret
